/**
 * This is the main scss file which includes your
 * various variables and partials and whatever else you might
 * need.
 *
 * Gulp will compile this over to ../css/screen.css (instead of
 * leaving this job to jekyll, because we love browsersync
 * and the flexibility of gulp)
 */

@import "normalize";

$red: #be3c26;

.player {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1000;
  opacity: 0.5;
}

#frames {
  width: 100vw;
  height: 100vh;
  background-color: $red;
  overflow: hidden;
  position: relative;
}

.frame {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -50vw;
  transform-origin: center center;
  opacity: 0;
  box-shadow: 0 2vw 12vw rgba(black, 0.3);
}

.textFrame {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $red url(../images/star.svg) no-repeat;
  background-position: center bottom 20px;
  background-size: 30px;
  color: white;
  font-family: "Lora", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  text-align: center;
  padding: 0 5vw;

  &:not(#textFrame0) {
    opacity: 0;
  }

  p,
  img {
    opacity: 0;
  }
}

#textFrame0 {
  flex-direction: column;

  img {
    width: 15vw;
  }
}

#frame4 {
  margin-top: -65vw;
}

#textFrame11 .logo {
  font-size: 3vw;
}
