---
layout: default
---
<!--
<div class="player">
  <input id="seekAnim" class="progress" step=".001" type="range" min="0" max="100" value="0">
</div> -->

<audio autoplay style="visibility: hidden;">
  <source src="/assets/music/john-lewis4.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>

<div id="frames">
  <article id="textFrame0" class="textFrame">
    <img src="/assets/images/intro.svg">
    <p>Let Christmas in</p>
  </article>

  <article id="textFrame1" class="textFrame">
    <p>We sincerely thank you …</p>
  </article>

  <img id="frame1" class="frame" src="/assets/images/frame1.svg">

  <article id="textFrame2" class="textFrame">
    <p>… for the excellent …</p>
  </article>

  <img id="frame2" class="frame" src="/assets/images/frame3.svg">

  <article id="textFrame4" class="textFrame">
    <p>… cooperation and trust …</p>
  </article>

  <img id="frame4" class="frame" src="/assets/images/frame4.svg">

  <article id="textFrame5" class="textFrame">
    <p>… you have placed …</p>
  </article>

  <img id="frame6" class="frame" src="/assets/images/frame6.svg">

  <article id="textFrame6" class="textFrame">
    <p>… in our services.</p>
  </article>

  <img id="frame7" class="frame" src="/assets/images/frame7.svg">


  <article id="textFrame8" class="textFrame">
    <p>We wish you and your loved ones …</p>
  </article>

  <img id="frame10" class="frame" src="/assets/images/frame10.svg">

  <article id="textFrame11" class="textFrame">
    <main>
      <p class="first">… a pleasant festive season!</p>

      <p class="logo">Andersch</p>
    </main>
  </article>
</div>
